.character-card {
	display: flex;
	width: 100%;
	background-color: black;
	color: white;
	overflow: hidden;
	height: 500px;
	position: relative;
	clip-path: polygon(0 0, 100% 0, 100% 95%, 98% 100%, 0 100%);
}
.character-card__image {
	width: 40%;
	object-fit: contain;
}
.character-card__content {
	padding: 20px;
	display: flex;
	flex-direction: column;
	width: 50%;
}
.character-card__title {
	display: flex;
	gap: 100px;

	align-items: center;
}
.character-card__description {
	text-align: justify;
	font-size: 14px;
	margin-top: 10px;
}
.character-card__icon {
	cursor: pointer;
}
